singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /home/tawfiqre/test_nextflow_BORG16S/data:/home/tawfiqre/test_nextflow_BORG16S/data'
    container = '/home/tawfiqre/standardize_methods/BORG_16S_3.sif' // Replace with the path to your Singularity image
}

process {
    withLabel: 'perl' {
        container = '/home/tawfiqre/standardize_methods/BORG_16S_3.sif'
    }
    withLabel: 'swarm' {
        container = '/home/tawfiqre/standardize_methods/BORG_16S_3.sif'
    }
    withLabel: 'vsearch' {
        container = '/home/tawfiqre/standardize_methods/BORG_16S_3.sif'
    }
    withLabel: 'python' {
        container = '/home/tawfiqre/standardize_methods/BORG_16S_3.sif'
    }
}
