profiles {
    docker {
        process {
            withLabel: 'preprocess' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
            withLabel: 'perl' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
            withLabel: 'swarm' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
            withLabel: 'vsearch' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
            withLabel: 'python' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
        }
        docker {
            enabled = true
            runOptions = '-u \$(id -u):\$(id -g) -v PATH/TO/YOUR/DATA/Folder:/data'
            container = 'rund0wn/borg_16s_nf:1.0'
        }
    }
    singularity {
        process {
            container = { 'docker://rund0wn/borg_16s_nf:1.0' }
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B PATH/TO/YOUR/DATA/Folder:/data'
        }
    }
}